@page "{*_}"
@{

  ViewData["Title"] = "React";
    ViewData["BaseRef"] = "React";
  Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/_content/Asp.React/index.css">
    <link rel="icon" type="image/svg+xml" href="~/_content/Asp.React/vite.svg" />
    <link rel="icon" type="image/svg+xml" href="~/react.svg" />
}

@section Scripts
    {
    <script src="~/_content/Asp.React/index.js" crossorigin type="module"></script>
}
    <div id="root"></div>

