<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/_content/Asp.Web/styles.css" />
</head>
<body>
   
     @RenderBody()
    <script src="~/_content/Asp.Web/main.js"></script>
    <script src="~/_content/Asp.Web/polyfills.js"></script>
    <script src="~/_content/Asp.Web/runtime.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
